@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
  float: right;
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.cancelbtn:hover {
  opacity: 0.8;
}
.agendarbtn {
  float: left;
  width: auto;
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #0082e6, #1d2a5a);
}

.agendarbtn:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #0082e6, #1d2a5a);
}

.container {
  left: 50%;
  top: 50%;
  position: fixed;
  display: none;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 50px;
  overflow: auto;
  transform: translate(-50%, -50%);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #0082e6, #1d2a5a);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .user-details .select-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form .select-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input,
select {
  height: 45px;
  width: 85%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box .code {
  width: 15%;
}
.user-details .input-box .tel {
  width: 63%;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #0082e6;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn {
    width: 100%;
  }
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.mySlides {
  display: none;
  width: 500px;
  height: 400px;
}

img {
  vertical-align: middle;
  width: 500px;
  height: 400px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;

  width: 500px;
  float: left;
  margin-right: 20px;
  box-shadow: 5px 5px 7px 0px #1d2a5a;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;

  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.detail-content {
  display: flex;
}

.btnregresar {
  float: left;
  width: auto;
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: red;
}

.btnregresar:hover {
  opacity: 0.5;
}

.btnagendar {
  float: right;
  width: auto;
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #0082e6, #1d2a5a);
}
.btnagendar:hover {
  background: linear-gradient(-135deg, #0082e6, #1d2a5a);
  opacity: 0.7;
}

.descripcion {
  width: 500px;
}

.section-content {
  /* display: inline-block; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size: 20px;
}
label {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .section-content {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .slideshow-container {
    position: relative;
    width: 400px;
    float: left;
    padding-bottom: 8px;
    box-shadow: 0px 0px 0px 0px;
  }
  .mySlides {
    display: none;
    width: 400px;
    height: 400px;
  }

  img {
    vertical-align: middle;
    width: 400px;
    height: 400px;
  }
  .descripcion {
    width: 350px;
  }
  p {
    font-size: 18px;
  }
  label {
    font-weight: 500;
  }
}
.map {
  height: 350px;
  width: 350px;
  border-radius: 10px;
  border: 2px solid #1d2a5a;
}
.dmap {
  padding: 30px;
}
@media (min-width: 800px) {
  .map {
    position: relative;
    height: 350px;
    width: 350px;
  }
}

.strong {
  color: blue;
  font-size: 16px;
  margin: 0;
  padding: 0px 4px;
  font-weight: 600;
}

.valoracion {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

.valoracion p, input {
  text-align: center;
}
.valoracion label {
  font-size: 40px;
  color: grey;
}
input[type="radio"] {
  display: none;
}
.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}


.valoracion label:hover,
label:hover ~ label {
  color: orange;
}
input[type="radio"]:checked ~ label {
  color: orange;
}