<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Index.php" />
                <add value="Index.php" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>
